//
//  TestCredentials.swift
//  SwiftSDK
//
//  Created by Ryan Conway on 7/6/16.
//  Copyright © 2016 Knurld. All rights reserved.
//

import Foundation


// If this file is named TestCredentials.swift.example, please rename it to TestCredentials.swift before running tests
let TEST_DEVELOPER_ID = "Bearer: blahblahblah"
let TEST_CLIENT_ID = "blahblahblahblahblahblah"
let TEST_CLIENT_SECRET = "blahblahblah"
